/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Utilities */
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    justify-content: center;
}
#container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 35px 30px;
}
/* Top Players  */
.sectionTitle{
    font-size: 24px;
    color: #562EFF;
    display: block;
    margin-top: 0;
    margin-bottom: 40px;
}
.topPlayers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.players{
    display: flex;
    align-items: center;
    margin-bottom:30px ;
}
.players img{
    width: 56px;
    height: 56px;
}
.player_name{
    margin: 0px 0px 0px 15px;
    font-size: 18px;
}
.player_name:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: .2s;
    text-decoration-color: #18A0FB;
    text-decoration-thickness: 2px;
}
/* Horizontal Line Break */
.line{
    border: 1px solid #D1D1D1;
    width: 840px;
    margin: 0;
}